<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="conatiner">
            <nav>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">MOVIES</a></li>
                    <li><a href="#">TV SHOWS</a></li>
                    <li><a href="#">GENRE</a></li>
                    <li><a href="#">TOP RATED</a></li>
                </ul>
            </nav>
            <div class="right">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <button type="submit">SEARCH</button>
                </div>
                <div class="movies">
                    <div class="card">
                        <img src="https://img.cineb.rs/xxrz/250x400/188/f7/97/f7975e92348f8055ee359ea5218d1aa5/f7975e92348f8055ee359ea5218d1aa5.jpg" alt="The Flash">
                        <p>The Flash</p>
                        <p>2023 144m</p>
                    </div>
                    <div class="card">
                        <img src="https://img.cineb.rs/xxrz/250x400/188/f7/97/f7975e92348f8055ee359ea5218d1aa5/f7975e92348f8055ee359ea5218d1aa5.jpg" alt="The Flash">
                        <p>The Flash</p>
                        <p>2023 144m</p>
                    </div>
                    <div class="card">
                        <img src="https://img.cineb.rs/xxrz/250x400/188/f7/97/f7975e92348f8055ee359ea5218d1aa5/f7975e92348f8055ee359ea5218d1aa5.jpg" alt="The Flash">
                        <p>The Flash</p>
                        <p>2023 144m</p>
                    </div>
                    <div class="card">
                        <img src="https://img.cineb.rs/xxrz/250x400/188/f7/97/f7975e92348f8055ee359ea5218d1aa5/f7975e92348f8055ee359ea5218d1aa5.jpg" alt="The Flash">
                        <p>The Flash</p>
                        <p>2023 144m</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>